@charset "UTF-8";

/* 공통 */
*{
	margin: 0;
	padding: 0;
}
a{
	color: #333;
	text-decoration: none;
}
.container-common{
	width: 50%;
	position: absolute;
	left: 50%; 
}
.container-common h1{
	margin-bottom: 60px;
	text-align: center;
	font-size: 10rem;
    color: #fcedd8;
   	font-family: 'Niconne', cursive;
    font-weight: 700;
    text-shadow: 4px 4px 0px #eb452b, 
                 8px 8px 0px #efa032, 
                 12px 12px 0px #46b59b, 
                 16px 16px 0px #017e7f, 
                 20px 20px 0px #052939, 
                 24px 24px 0px #c11a2b, 
                 28px 28px 0px #c11a2b 
}
.container-common .btn{
	height: 45px;
	line-height: 45px;
	padding: 0;
	border: none;
	border-radius: 4px;
	background: lightgray;
	color: #fff;
}
.container-common .large-btn{
	width: 100%;
}
.container-common .small-btn{
	margin-left: 10px;
	padding: 0 20px;
}
.container-common .btn.sub-btn{
	background: none;
	color: #000;
}
.container-common .btn.activate-btn{
	background: #efa032;
	color: #fff;
	transition: .2s;
}
.container-common .btn.activate-btn:hover{
	color: #fff;
	box-shadow: #052939 2px 2px 2px;
}
.container-common .error-msg{
	color: red;
	margin: 5px 0 0 7px;
}

/* login */
.container-login{
	top: 50%;
	transform: translate(-50%, -50%);
}

/* signup */
.container-signup{
	transform: translateX(-50%);
}
.container-signup #user-type-wrap label{
	margin-right: 10px;
}
.container-signup .div-wrap{
	display: flex;
}
.container-signup .phone-hyphen{
	line-height: 45px;
	padding: 0 10px;
}

/* bootstrap 커스터마이징 */
.form-control{
	height: 45px !important;
}